# Cyclones: Exploratory Analysis

In [1]:
%matplotlib inline
import numpy as np
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

## South Indian Ocean

In [4]:
full_si_df = pd.read_csv('./SI_with_ids.csv')
full_si_df

,id,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,...,21,22,23,24,25,26,27,28,29,30
0,1,SI,1,1981-07-25 12:00:00,BEST,0,118S,867E,20,11.8,...,301.562985,301.448249,301.448249,301.278525,301.463583,301.716319,302.370894,302.619928,302.710342,302.710342
1,1,SI,1,1981-07-25 18:00:00,BEST,0,116S,864E,25,11.6,...,301.558226,301.447192,301.447192,301.253146,301.450893,301.739583,302.335468,302.609882,302.707170,302.707170
2,1,SI,1,1981-07-26 00:00:00,BEST,0,113S,862E,25,11.3,...,301.535491,301.426571,301.426571,301.219835,301.456709,301.784525,302.307445,302.565997,302.565997,302.707170
3,1,SI,1,1981-07-26 06:00:00,BEST,0,109S,862E,25,10.9,...,301.535491,301.426571,301.426571,301.219835,301.456709,301.784525,302.307445,302.565997,302.565997,302.707170
4,1,SI,1,1981-07-26 12:00:00,BEST,0,104S,861E,25,10.4,...,301.498479,301.400134,301.400134,301.195514,301.483146,301.808847,302.253514,302.497790,302.497790,302.696595
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20397,660,SI,27,2019-05-17 00:00:00,BEST,0,99S,1340E,25,9.9,...,303.068825,302.954618,303.066710,303.066710,303.135446,303.201538,302.983699,302.941929,302.870549,302.760572
20398,660,SI,27,2019-05-17 06:00:00,BEST,0,96S,1327E,20,9.6,...,302.922365,302.945101,303.090503,303.090503,302.926595,302.993216,302.811860,302.710871,302.634204,302.640549
20399,660,SI,27,2019-05-17 12:00:00,BEST,0,88S,1318E,20,8.8,...,302.829308,302.868963,303.035515,303.035515,302.930296,302.995331,302.864733,302.734135,302.590848,302.700825
20400,660,SI,27,2019-05-17 18:00:00,BEST,0,84S,1308E,20,8.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20401,660,SI,27,2019-05-18 00:00:00,BEST,0,79S,1298E,15,7.9,...,302.229721,302.028273,302.229192,302.229192,302.267261,302.358733,302.633147,302.668572,302.360848,302.433285

In [7]:
# only take a subset of columns for now
relevant_si_df = full_si_df[["id", "Time", "Lat", "Lon", "Speed(knots)"]]
relevant_si_df
# NOTE: why is there a cyclone in July? is this a data error?

        id                 Time    Lat     Lon  Speed(knots)
0        1  1981-07-25 12:00:00   118S    867E            20
1        1  1981-07-25 18:00:00   116S    864E            25
2        1  1981-07-26 00:00:00   113S    862E            25
3        1  1981-07-26 06:00:00   109S    862E            25
4        1  1981-07-26 12:00:00   104S    861E            25
...    ...                  ...    ...     ...           ...
20397  660  2019-05-17 00:00:00    99S   1340E            25
20398  660  2019-05-17 06:00:00    96S   1327E            20
20399  660  2019-05-17 12:00:00    88S   1318E            20
20400  660  2019-05-17 18:00:00    84S   1308E            20
20401  660  2019-05-18 00:00:00    79S   1298E            15

[20402 rows x 5 columns]

###  Has the number of cyclones been increasing in this basin?

### Where do cyclones occur primarily?