In [12]:
%matplotlib inline
import numpy as np
import pandas as pd
import xarray as xr
from datetime import datetime,timedelta
from matplotlib import pyplot as plt
from netCDF4 import Dataset

In [13]:
def extract_data(nc_path, url_path, csv_path, out_path):

    ds= Dataset(nc_path)
    url_1= url_path
    df_1 = pd.read_csv(url_1, sep=',',error_bad_lines=False)
    df_1

C:\Users\CHAITANYA AGRAWAL\AppData\Local\Temp\ipykernel_18384\3557677665.py:3: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  df_1 = pd.read_csv(url_1, sep=',',error_bad_lines=False)

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth
0,SP,14,1982012518,BEST,0,180S,1541E,25,18.0,154.1
1,SP,14,1982012600,BEST,0,191S,1548E,25,19.1,154.8
2,SP,14,1982012606,BEST,0,197S,1557E,25,19.7,155.7
3,SP,14,1982012612,BEST,0,199S,1567E,30,19.9,156.7
4,SP,14,1982012618,BEST,0,201S,1578E,35,20.1,157.8
...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019051518,BEST,0,118S,1396E,25,11.8,139.6
12003,SP,27,2019051600,BEST,0,112S,1385E,25,11.2,138.5
12004,SP,27,2019051606,BEST,0,112S,1374E,20,11.2,137.4
12005,SP,27,2019051612,BEST,0,109S,1362E,20,10.9,136.2
12006,SP,27,2019051618,BEST,0,103S,1352E,25,10.3,135.2

In [14]:
    df_1['Time']=pd.to_datetime(df_1['Time'],format='%Y%m%d%H')
    time=ds.variables['time'][:]
    lat=ds.variables['latitude'][:]
    lon=ds.variables['longitude'][:]
    sst=ds.variables['sst']
    sd=ds.variables['expver']

In [15]:
    df_1['Time']=pd.to_datetime(df_1['Time'],format='%Y%m%d%H')
    time=ds.variables['time'][:]
    lat=ds.variables['latitude'][:]
    lon=ds.variables['longitude'][:]
    sst=ds.variables['sst']

In [16]:
    df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8
...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2

In [17]:
    intial=1900010100
    initial_date=pd.to_datetime(intial,format='%Y%m%d%H')
    df_1["diff"]=df_1['Time']-initial_date
    df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00
...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00

In [18]:
    df_1['total_1']=(df_1['diff']/timedelta(seconds=1))/3600
    df_1['sst_1']=""

In [19]:
    for index,row in df_1.iterrows():
        latitude=row['lat_tenth']
        longitude=row['lon_tenth']
        total_1=row['total_1']

        
        diff_lat=(lat-latitude)**2
        diff_lon=(lon-longitude)**2
        diff_time=(time-total_1)**2

        
        min_lat=diff_lat.argmin()
        min_lon= diff_lon.argmin()
        min_time=diff_time.argmin()

        
        df_1.loc[index,'sst_1']=sst[min_time,0,min_lat,min_lon]

In [20]:
    df_1

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,302.806534
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,302.752948
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,302.992158
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,302.756806
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,302.882841
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12002,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,302.877268
12003,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,302.877268
12004,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,302.94886
12005,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,302.942001
12006,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,302.928283

In [21]:
  df_1.to_csv('Subs_SP.csv',index=False)
  with open('Subs_SP.csv','r') as in_file, open(csv_path,'w') as out_file:
    
      seen = set() 
      
      for line in in_file:
          if line in seen: 
            continue 

          seen.add(line)
          out_file.write(line)

In [22]:
    df = pd.read_csv(csv_path)
    df

,Basin,No. of Cycl,Time,V5,V6,Lat,Lon,Speed(knots),lat_tenth,lon_tenth,diff,total_1,sst_1
0,SP,14,1982-01-25 18:00:00,BEST,0,180S,1541E,25,18.0,154.1,29974 days 18:00:00,719394.0,302.806534
1,SP,14,1982-01-26 00:00:00,BEST,0,191S,1548E,25,19.1,154.8,29975 days 00:00:00,719400.0,302.752948
2,SP,14,1982-01-26 06:00:00,BEST,0,197S,1557E,25,19.7,155.7,29975 days 06:00:00,719406.0,302.992158
3,SP,14,1982-01-26 12:00:00,BEST,0,199S,1567E,30,19.9,156.7,29975 days 12:00:00,719412.0,302.756806
4,SP,14,1982-01-26 18:00:00,BEST,0,201S,1578E,35,20.1,157.8,29975 days 18:00:00,719418.0,302.882841
...,...,...,...,...,...,...,...,...,...,...,...,...,...
10157,SP,27,2019-05-15 18:00:00,BEST,0,118S,1396E,25,11.8,139.6,43598 days 18:00:00,1046370.0,302.877268
10158,SP,27,2019-05-16 00:00:00,BEST,0,112S,1385E,25,11.2,138.5,43599 days 00:00:00,1046376.0,302.877268
10159,SP,27,2019-05-16 06:00:00,BEST,0,112S,1374E,20,11.2,137.4,43599 days 06:00:00,1046382.0,302.948860
10160,SP,27,2019-05-16 12:00:00,BEST,0,109S,1362E,20,10.9,136.2,43599 days 12:00:00,1046388.0,302.942001
10161,SP,27,2019-05-16 18:00:00,BEST,0,103S,1352E,25,10.3,135.2,43599 days 18:00:00,1046394.0,302.928283

In [23]:
    for index,row in df.iterrows():
            start=df['total_1'][index]
            for days in range(1,31):
                start=start-24*days

                latitude=df['lat_tenth'][index]
                longitude=df['lon_tenth'][index]

                diff_lat=(lat-latitude)**2
                diff_lon=(lon-longitude)**2
                diff_time=(time-start)**2


                min_lat=diff_lat.argmin()
                min_lon= diff_lon.argmin()
                min_time=diff_time.argmin()



                df.loc[index,days]=sst[min_time,0,min_lat,min_lon]

In [26]:
    df = df.reset_index(drop=True)

In [27]:
    df.to_csv(csv_path)

In [ ]:
extract_data(r'https://www.dropbox.com/scl/fo/ccqzll8jieheurz9sbufa/h/Data-Chaitanya/SP_SST.nc' , "https://raw.githubusercontent.com/sydney-machine-learning/cyclonedatasets/main/SouthIndian-SouthPacific-Ocean/South_pacific_hurricane.csv", "South_Pacific.csv")
extract_data(r'https://www.dropbox.com/scl/fo/ccqzll8jieheurz9sbufa/h/Data-Chaitanya/SI_SST.nc' , url_1="https://raw.githubusercontent.com/sydney-machine-learning/cyclonedatasets/main/SouthIndian-SouthPacific-Ocean/South_indian_hurricane.csv", "South_Indian.csv")